<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amrshosny.imobuts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/imobuts_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".components.signin.SignInActivity" />
        <activity android:name=".components.signup.SignUpActivity" />
        <activity android:name=".components.content.AccountContentActivity" />
        <activity android:name=".components.forgetpassword.ForgetPasswordActivity" />
        <activity android:name=".components.updateprofile.UpdateProfile" />
        <activity android:name=".components.buyticket.BuyTicket"></activity>
    </application>

</manifest>